@font-face {
  font-family: 'gothic';
  src: url('./MercusuarSemiboldScript-AL2n6.ttf');
}

@font-face {
  font-family: 'Jost';
  src: url('./Jost-Medium.ttf');
}

@font-face {
  font-family: 'EB';
  src: url('./EBGaramond-Medium.ttf');
}

html{
  text-align: center;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

header{
  border-bottom: solid black;
  background-color: rgba(141,0,1,255);
  height: 5vh;
}

h1 {

  font-family: 'EB';
  line-height: 90%;
  color: rgba(1,15,108,255);
  text-shadow: 1px 1px 0px black;
  font-size: 11rem;
}

.welcome {
  overflow: hidden;
  text-align: center;
  font-size: 25vh;
  font-family: gothic;
  font-style: italic;
}

.welcome:before,
.welcome:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 4px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.welcome:before {
  right: 0.05em;
  margin-left: -50%;
}

.welcome:after {
  left: 0.4em;
  margin-right: -50%;
}

p {
  font-weight: bolder;
  font-size: 3em;
  font-family: 'Jost';
}

.bodyApp{
  height: 83vh;
  background-color: rgba(214,201,149,255);
}

footer{
  border-top: solid black;
  background-color: rgba(141,0,1,255);
  height: 12vh;
}

a {
  text-decoration: none;
  color: black;
}

.bodyFormulaire {
  height: 100vh;
  background-color: rgba(150,180,201,255);
}